.test{
    background-color: red;
}

.sl-bg-darker {
    background-color: $gray-800;
}

.sl-bg-dark { 
    background-color: $dark;
}

.sl-no-outline:focus { 
    outline: none;
}

.app-header {
    border-bottom: 1px solid $primary;
    top:0px;
}


.sl-input {
    background-color: $dark;
    color: $white;
}
.sl-input:focus {
    background-color: $dark;
}

.sl-login-form-container {

}

.sl-login-form-container.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.sl-sidebar-nav {}

.sl-card {
    border:none;
    border-radius: 0;
    display:block;
    width:100%;
    height:129px;
    overflow:hidden;
    box-shadow: 2px 2px 3px $gray-900;
}

.parallax { 
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body {
    margin-left:15px;
}

.sl-card-img {
    min-height:129px;
    min-width:276px;
    max-height:129px;
    max-width:276px;
    background-size: 276px 129px;
}

.sl-card-platforms {
    position: absolute;
    bottom:0px;
    right:0px;
    padding:8px;
    text-align: center;
    width: 75px;
}
    .sl-card-platforms .platform-icon {
        padding-right:8px;
        color: $primary;
    }

.sl-card-score {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    padding-top:0px;
    padding-right:0px;
}

.card-title {
    padding-top: 4px;
    font-size: 1.6rem;
    margin-bottom: 0px;
}

.sl-card-hide {
    width:80px;
    text-align: center;
    display:block;
    position:absolute;
    top:8px;
    right:0px;
}
.sl-card-hide .sl-card-hide-btn {
  
    color: $secondary;
    opacity: .35;
    padding:10px;
    transition: 0.3s;
}
    .sl-card-hide .sl-card-hide-btn:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
        font-size: 3.3rem;
        content: "\f057";
    }
    .sl-card-hide .sl-card-hide-btn:hover {
        color: $danger;
        opacity: 1;
        cursor: pointer;
    }


.sl-filter-group {

}
    .sl-filter-group.open {
        //ackground-color: $gray-800;
    }
    .sl-filter-group.open
     .sl-filter-group-dropdown {
        border-bottom:1px solid $secondary;
    }
    .sl-filter-group-item {
        padding-left:10px;
        padding-top:4px;
        padding-bottom:4px;
        overflow-x:hidden;
        overflow: hidden;
    }

.sl-preference-btn {
    padding: 0.15rem 0.25rem;
    font-size: 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.sl-preference-btn:focus {
    box-shadow: none;
}
    
    